body {
    margin: 0;
}

.head {
    background-color: #1F2937;
    color: #f9faf8;
    padding: 20px 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header-left {
    font-size: 24px;
}

.header-right {
    font-size: 18px;
}

.header-right a {
    margin: 10px;
}

.main {
    display: flex;
    padding-bottom: 80px;
    align-items: center;
    justify-content: space-between;
}

.main-text {
    min-width: 440px;
    min-height: 200px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-text-title {
    font-size: 48px;
    font-weight: 900;
    /*add extra-bold*/
    color: #F9FaF8;
}

.main-text-secondary {
    color: #E5E7EB;
    font-size: 18px;
    width: 430px;
    flex-grow: 0;
}

.main button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    padding: 5px 20px;
    margin-top: 5px;
    border-style: none;
    width: 100px;
    flex-grow: 0;
}

.main-img {
    background-color: gray;
    min-width: 400px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}


.information-header {
    font-size: 36px;
    font-weight: 900;
    /*add extra-bold */
    color: #1F2937;
    text-align: center;
    padding: 30px;
}

.information-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.information-box {
    width: 150px;
    padding-bottom: 100px;
}

.information-img {
    border: 2px solid #3882F6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.information-text {
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 100px 200px;
}

.quote-text {
    width: 720px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;

}

.quote-text-autor {
    font-size: 18px;
    text-align: end;
}